body {
    background-color: #0181b1;
    height: 100vh;
}

div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    /*border: 1px solid red;*/
}

article {
    margin: 5px;
    max-width: 150px;
    background-color: #e4e541;
}